@mixin sectionPaddingY($value) {
    padding: $value 0;
    @include media-breakpoint-down(md){
        padding:$value/2.5 0;
    }
}


@mixin mx-n-24px {
    @include media-breakpoint-down(md){
        margin : 0 -24px;
    }
}


@mixin contentInner{
    max-width: 70vw;
    margin: auto;
}
