// 문의하기 페이지
section.contact-wrap {
    @include contentInner();

    .contact-img-wrap {
        position: relative;
        display: flex;
        justify-content: end;

        .contact-img {
            border-top-left-radius: 120px;
            overflow: hidden;
            margin-top: 60px;
            position: relative;
            width: 25vw;

            img {
                width: 100%;
                height: 600px;
                object-fit: cover;
                object-position: left;
            }
        }

        &::before {
            content: "";
            width: 360px;
            height: 200px;
            background-color: #4ea6a3;
            position: absolute;
            top: 0;
            left: 19%;
        }
    }

    .title-wrap {
        position: absolute;
        bottom: 12vh;
        left: -2vw;
        width: 60%;
    }
}


// 어바웃 페이지
section.about {
    &-visual-wrap {
        position: relative;

        .about-img-wrap {
            @include contentInner();
            position: relative;
            display: flex;
            align-items: end;
            justify-content: space-between;

            >div {
                width: 300px;
                overflow: hidden;

                &:first-child {
                    border-bottom-right-radius: 120px;
                    width: 20vw;
                    height: 80vh;

                    img {
                        object-fit: cover;
                        object-position: 57%;
                        height: 100%;
                        // filter: contrast(0.5) brightness(1.8) saturate(0.5);
                    }
                }

                &:last-child {
                    border-top-left-radius: 120px;

                    width: 35vw;
                    height: 450px;
                    object-position: 36%;

                    img {
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }

        .title-wrap {
            position: absolute;
            top: 13%;
            left: 38%;
        }
    }

    &-information-wrap {
        @include sectionPaddingY(220px);

        .about-system-img-wrap {
            @include sectionPaddingY(100px);
            display: flex;
            max-width: 1355px;
            margin: 100px auto 0 auto;
            flex-direction: column;
            justify-content: space-between;

            img {
                height: 297px;
                flex: 0 0 25%;
                width: fit-content;

                &:nth-child(2) {
                    margin-left: 25%;
                    ;
                }

                &:nth-child(3) {
                    margin-left: 44%;
                }

                &:nth-child(4) {
                    margin-left: 72%;
                }

                &+img {
                    margin-top: -9rem;
                }
            }
        }
    }

    &-process-wrap {
        @include sectionPaddingY(220px);
        background: #eeeeee9e;

        >div {
            max-width: 1330px;
            margin: auto;
        }

        .about-contact-btn-wrap {
            position: relative;
            width: 437px;
            height: 437px;

            li {
                position: absolute;
                width: 437px;
                height: 437px;
                background: $black;
                border-radius: 50%;

                >a {
                    font: {
                        size: 68px;
                        weight: bold;
                    }

                    position: absolute;
                    color:$white !important;
                    width:100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    >div {
                        margin-left: 4rem;
                        transition: all 0.4s;

                        &.contact-btn {
                            display: none;
                        }
                    }

                    &:hover {
                        .insight {
                            display: none;
                        }

                        .contact-btn {
                            display: block;
                        }
                    }
                }
            }
        }

        .horizon-line-arrow {
            width: 280px;
            height: 2px;
            background: $border-color;
            display: block;
            position: relative;
            animation: animate 2s linear infinite;

            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 2px;
                transform: rotate(45deg);
                top: -3px;
                right: 0;
                display: inline-block;
                background: $border-color;
            }
        }

        @keyframes animate {
            0% {
                transform: scaleX(0);
                transform-origin: left;
            }

            50% {
                transform: scaleX(1);
                transform-origin: left;
            }

            50.1% {
                transform: scaleX(1);
                transform-origin: right;
            }

            100% {
                transform: scaleX(0);
                transform-origin: right;
            }
        }
    }

    &-history-wrap {
        @include sectionPaddingY(200px);

        .about-history-container {
            padding-top: 260px;
            min-height: 1500px;

            .history-list {
                >li {
                    position: relative;

                    &.active{
                        .history-year {
                            width: 120px;
                            height: 120px;
                            background: $black;

                            p {
                                font : {
                                    size: 40px;
                                }
                            }

                            &::before {
                                background: url('../images/icon-main-about-circle-ellipse.svg')no-repeat center;
                                width: 280px;
                                height: 280px;
                                background-size: contain;
                            }

                            &::after {
                                background: url('../images/icon-main-about-circle-ellipse.svg')no-repeat center;
                                width: 400px;
                                height: 400px;
                                background-size: contain;
                            }
                        }

                        .history-year-content {
                            opacity: 1;
                        }

                        .history-line{
                            #line{
                                animation:  like 3s forwards ;
                            }
                        }
                    }
                    & + li{
                        margin-top: 80px;
                    }
                    &:first-child{
                        .history-line{
                            display: none;
                        }
                    }
                }

                .history-year {
                    transition: all 0.4s;
                    width: 80px;
                    height: 80px;
                    background: $middleGray;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                    p {
                        font : {
                            size: 24px;
                            weight: bold;
                        }

                        position: absolute;
                        color:$white;
                        bottom:3px;
                        right: 4px;
                    }

                    &::before {
                        transition: all 0.4s;
                    }

                    &::after {
                        transition: all 0.6s;
                    }

                    &::before,
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: block;
                        transform: translate(-50%, -50%);
                    }
                }

                .history-year-content {
                    position: absolute;
                    width: 600px;
                    opacity: 0;
                    transition: all 0.7s;
                    .year {
                        font : {
                            size: 230px;
                            weight: 900;
                        }

                        color:$lightGray;
                    }

                    ul {
                        margin-top: -8rem;
                        margin-left: 11rem;
                    }

                    &.left {
                        right: 0;
                        margin-right: 12rem;
                    }

                    &.right {
                        left: 0;
                        margin-left: 12rem;
                    }
                }

                .history-line {
                    width: 5px;
                    margin: auto;
                    position: relative;
                    height: 500px;

                    svg {
                        position: absolute;
                    }
                    #line {
                        // width: 250px;
                        stroke: $middleGray;
                        fill: transparent;
                        stroke-dasharray: 210;
                        // stroke-dashoffset: 10;
                        z-index: 2;
                        opacity: 0;
                        // stroke-offset == stroke-dasharray 인 경우 그림이 보이지 않는다.
                        @keyframes like {
                            0% {
                                stroke-dashoffset: 210;
                                opacity: 1;
                            }
                        
                            100% {
                                stroke-dashoffset: 0;
                                opacity: 1;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

.cls-1 {
    fill: #fff;
}

.cls-2 {
    stroke: #56b36b;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.cls-2,
.cls-3 {
    fill: none;
}

.cls-4 {
    clip-path: url(#clippath-1);
}

.cls-5 {
    clip-path: url(#clippath);
}

